In [179]:
import pandas
import pandas as pa
import matplotlib.pyplot as plt

In [180]:
gcap_type_18_lv = pandas.read_csv('Generation Installed Per Type_2018_lv1.csv')
df_gcap_type_18_lv = pa.DataFrame(gcap_type_18_lv)

df_gcap_type_18_lv

                     Production Type Generation
0                      Wind Onshore        "53"
1                           Biomass       "105"
2   Hydro Run-of-river and poundage      "1539"
3                        Fossil Gas      "1124"
4         Fossil Brown coal/Lignite       "N/E"
5           Fossil Coal-derived gas       "N/E"
6                  Fossil Hard coal       "N/E"
7                        Fossil Oil       "N/E"
8                  Fossil Oil shale       "N/E"
9                       Fossil Peat       "N/E"
10                       Geothermal       "N/E"
11             Hydro Pumped Storage       "N/E"
12            Hydro Water Reservoir       "N/A"
13                           Marine       "N/E"
14                          Nuclear       "N/E"
15                            Other       "N/E"
16                  Other renewable       "N/E"
17                            Solar       "N/A"
18                            Waste       "N/E"
19                    Wind Offshore       "N/E"

In [181]:
df_gcap_type_18_lv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Production Type  20 non-null     object
 1   Generation       20 non-null     object
 2                    20 non-null     object
dtypes: object(3)
memory usage: 608.0+ bytes

In [182]:
cols = ['Generation']
for col in cols:
    df_gcap_type_18_lv[col] = df_gcap_type_18_lv[col].map(lambda x: str(x).lstrip(' "').rstrip('"')).astype(str)

In [183]:
df_gcap_type_18_lv['Generation'] = df_gcap_type_18_lv['Generation'].replace(['N/E', 'N/A'], '0')

In [184]:
df_gcap_type_18_lv["Generation"] = df_gcap_type_18_lv["Generation"].apply(int)
df_gcap_type_18_lv

                     Production Type  Generation
0                      Wind Onshore           53
1                           Biomass          105
2   Hydro Run-of-river and poundage         1539
3                        Fossil Gas         1124
4         Fossil Brown coal/Lignite            0
5           Fossil Coal-derived gas            0
6                  Fossil Hard coal            0
7                        Fossil Oil            0
8                  Fossil Oil shale            0
9                       Fossil Peat            0
10                       Geothermal            0
11             Hydro Pumped Storage            0
12            Hydro Water Reservoir            0
13                           Marine            0
14                          Nuclear            0
15                            Other            0
16                  Other renewable            0
17                            Solar            0
18                            Waste            0
19                    Wind Offshore            0

In [187]:
df_gcap_type_18_lv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Production Type  20 non-null     object
 1   Generation       20 non-null     int64
 2                    20 non-null     object
dtypes: int64(1), object(2)
memory usage: 608.0+ bytes

In [172]:
gcap_type_19_lv = pandas.read_csv('Generation Installed Per Type_2019_lv.csv')
df_gcap_type_19_lv = pa.DataFrame(gcap_type_19_lv)

df_gcap_type_19_lv

                     Production Type  Generation
0                      Wind Onshore      "59.00"
1                           Biomass     "126.00"
2   Hydro Run-of-river and poundage    "1539.00"
3                             Solar       "7.00"
4                        Fossil Gas    "1110.00"
5         Fossil Brown coal/Lignite        "N/E"
6           Fossil Coal-derived gas        "N/E"
7                  Fossil Hard coal        "N/E"
8                        Fossil Oil        "N/E"
9                  Fossil Oil shale        "N/E"
10                      Fossil Peat        "N/E"
11                       Geothermal        "N/E"
12             Hydro Pumped Storage        "N/E"
13            Hydro Water Reservoir        "N/A"
14                           Marine        "N/E"
15                          Nuclear        "N/E"
16                            Other        "N/E"
17                  Other renewable        "N/E"
18                            Waste        "N/E"
19                    Wind Offshore        "N/E"

In [175]:
cols = ['Generation']
for col in cols:
    df_gcap_type_19_lv[col] = df_gcap_type_19_lv[col].map(lambda x: str(x).lstrip(' "').rstrip('"')).astype(str)

                     Production Type Generation
0                      Wind Onshore       59.00
1                           Biomass      126.00
2   Hydro Run-of-river and poundage     1539.00
3                             Solar        7.00
4                        Fossil Gas     1110.00
5         Fossil Brown coal/Lignite           0
6           Fossil Coal-derived gas           0
7                  Fossil Hard coal           0
8                        Fossil Oil           0
9                  Fossil Oil shale           0
10                      Fossil Peat           0
11                       Geothermal           0
12             Hydro Pumped Storage           0
13            Hydro Water Reservoir           0
14                           Marine           0
15                          Nuclear           0
16                            Other           0
17                  Other renewable           0
18                            Waste           0
19                    Wind Offshore           0

In [176]:
df_gcap_type_19_lv['Generation'] = df_gcap_type_19_lv['Generation'].replace(['N/E', 'N/A'], '0')

                     Production Type Generation
0                      Wind Onshore       59.00
1                           Biomass      126.00
2   Hydro Run-of-river and poundage     1539.00
3                             Solar        7.00
4                        Fossil Gas     1110.00
5         Fossil Brown coal/Lignite           0
6           Fossil Coal-derived gas           0
7                  Fossil Hard coal           0
8                        Fossil Oil           0
9                  Fossil Oil shale           0
10                      Fossil Peat           0
11                       Geothermal           0
12             Hydro Pumped Storage           0
13            Hydro Water Reservoir           0
14                           Marine           0
15                          Nuclear           0
16                            Other           0
17                  Other renewable           0
18                            Waste           0
19                    Wind Offshore           0

In [191]:
df_gcap_type_19_lv["Generation"] = df_gcap_type_19_lv["Generation"].apply(float).apply(int)
df_gcap_type_19_lv

                     Production Type  Generation
0                      Wind Onshore           59
1                           Biomass          126
2   Hydro Run-of-river and poundage         1539
3                             Solar            7
4                        Fossil Gas         1110
5         Fossil Brown coal/Lignite            0
6           Fossil Coal-derived gas            0
7                  Fossil Hard coal            0
8                        Fossil Oil            0
9                  Fossil Oil shale            0
10                      Fossil Peat            0
11                       Geothermal            0
12             Hydro Pumped Storage            0
13            Hydro Water Reservoir            0
14                           Marine            0
15                          Nuclear            0
16                            Other            0
17                  Other renewable            0
18                            Waste            0
19                    Wind Offshore            0

In [192]:
df_gcap_type_19_lv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Production Type  20 non-null     object
 1   Generation       20 non-null     int64
 2                    20 non-null     object
dtypes: int64(1), object(2)
memory usage: 608.0+ bytes

In [193]:
gcap_type_20_lv = pandas.read_csv('Generation Installed Per Type_2020_lv.csv')
df_gcap_type_20_lv = pa.DataFrame(gcap_type_20_lv)

df_gcap_type_20_lv

                     Production Type  Generation
0                      Wind Onshore      "74.00"
1                           Biomass     "145.00"
2   Hydro Run-of-river and poundage    "1578.00"
3                             Solar       "9.00"
4                        Fossil Gas    "1026.00"
5         Fossil Brown coal/Lignite        "N/E"
6           Fossil Coal-derived gas        "N/E"
7                  Fossil Hard coal        "N/E"
8                        Fossil Oil        "N/E"
9                  Fossil Oil shale        "N/E"
10                      Fossil Peat        "N/E"
11                       Geothermal        "N/E"
12             Hydro Pumped Storage        "N/E"
13            Hydro Water Reservoir        "N/A"
14                           Marine        "N/E"
15                          Nuclear        "N/E"
16                            Other        "N/E"
17                  Other renewable        "N/E"
18                            Waste        "N/E"
19                    Wind Offshore        "N/E"

In [194]:
cols = ['Generation']
for col in cols:
    df_gcap_type_20_lv[col] = df_gcap_type_20_lv[col].map(lambda x: str(x).lstrip(' "').rstrip('"')).astype(str)
    
df_gcap_type_20_lv['Generation'] = df_gcap_type_20_lv['Generation'].replace(['N/E', 'N/A'], '0')

df_gcap_type_20_lv["Generation"] = df_gcap_type_20_lv["Generation"].apply(float).apply(int)
df_gcap_type_20_lv

                     Production Type  Generation
0                      Wind Onshore           74
1                           Biomass          145
2   Hydro Run-of-river and poundage         1578
3                             Solar            9
4                        Fossil Gas         1026
5         Fossil Brown coal/Lignite            0
6           Fossil Coal-derived gas            0
7                  Fossil Hard coal            0
8                        Fossil Oil            0
9                  Fossil Oil shale            0
10                      Fossil Peat            0
11                       Geothermal            0
12             Hydro Pumped Storage            0
13            Hydro Water Reservoir            0
14                           Marine            0
15                          Nuclear            0
16                            Other            0
17                  Other renewable            0
18                            Waste            0
19                    Wind Offshore            0

In [196]:
gcap_type_21_lv = pandas.read_csv('Generation Installed Per Type_2021_lv.csv')
df_gcap_type_21_lv = pa.DataFrame(gcap_type_21_lv)

cols = ['Generation']
for col in cols:
    df_gcap_type_21_lv[col] = df_gcap_type_21_lv[col].map(lambda x: str(x).lstrip(' "').rstrip('"')).astype(str)
    
df_gcap_type_21_lv['Generation'] = df_gcap_type_21_lv['Generation'].replace(['N/E', 'N/A'], '0')

df_gcap_type_21_lv["Generation"] = df_gcap_type_21_lv["Generation"].apply(float).apply(int)
df_gcap_type_21_lv

                     Production Type  Generation
0                      Wind Onshore           84
1                           Biomass          149
2   Hydro Run-of-river and poundage         1578
3                             Solar           11
4                        Fossil Gas         1021
5         Fossil Brown coal/Lignite            0
6           Fossil Coal-derived gas            0
7                  Fossil Hard coal            0
8                        Fossil Oil            0
9                  Fossil Oil shale            0
10                      Fossil Peat            0
11                       Geothermal            0
12             Hydro Pumped Storage            0
13            Hydro Water Reservoir            0
14                           Marine            0
15                          Nuclear            0
16                            Other            0
17                  Other renewable            0
18                            Waste            0
19                    Wind Offshore            0

In [213]:
gcap_type_22_lv = pandas.read_csv('Generation Installed Per Type_2022_lv.csv')
df_gcap_type_22_lv = pa.DataFrame(gcap_type_22_lv)

cols = ['Generation']
for col in cols:
    df_gcap_type_22_lv[col] = df_gcap_type_22_lv[col].map(lambda x: str(x).lstrip(' "').rstrip('"')).astype(str)
    
df_gcap_type_22_lv['Generation'] = df_gcap_type_22_lv['Generation'].replace(['N/E', 'N/A'], '0')

df_gcap_type_22_lv["Generation"] = df_gcap_type_22_lv["Generation"].apply(float).apply(int)
df_gcap_type_22_lv

                     Production Type  Generation
0                      Wind Onshore           87
1                           Biomass          164
2   Hydro Run-of-river and poundage         1588
3                             Solar           14
4                        Fossil Gas         1162
5         Fossil Brown coal/Lignite            0
6           Fossil Coal-derived gas            0
7                  Fossil Hard coal            0
8                        Fossil Oil            0
9                  Fossil Oil shale            0
10                      Fossil Peat            0
11                       Geothermal            0
12             Hydro Pumped Storage            0
13            Hydro Water Reservoir            0
14                           Marine            0
15                          Nuclear            0
16                            Other            0
17                  Other renewable            0
18                            Waste            0
19                    Wind Offshore            0

In [220]:
wo_22 = df_gcap_type_22_lv.loc[df_gcap_type_22_lv['Production Type'] == 'Hydro Run-of-river and poundage']
wo_22

Empty DataFrame
Columns: [Production Type, Generation,  ]
Index: []

In [ ]:
df_get_renew_fincon_total = df_get_renew_fincon.loc[df_get_renew_fincon['siec'] == 'Total']
df_get_renew_fincon_total

In [211]:
wo_22 = df_gcap_type_22_lv.loc[0]
wo_22

Production Type    Wind Onshore
Generation                    87

Name: 0, dtype: object

In [205]:
wo_21 = df_gcap_type_21_lv.loc[0]
wo_21

Production Type    Wind Onshore
Generation                    84

Name: 0, dtype: object

In [206]:
wo_20 = df_gcap_type_20_lv.loc[0]
wo_20

Production Type    Wind Onshore
Generation                    74

Name: 0, dtype: object

In [207]:
wo_19 = df_gcap_type_19_lv.loc[0]
wo_19

Production Type    Wind Onshore
Generation                    59

Name: 0, dtype: object

In [208]:
wo_18 = df_gcap_type_18_lv.loc[0]
wo_18

Production Type    Wind Onshore
Generation                    53

Name: 0, dtype: object

In [209]:
frames = [wo_18, wo_19, wo_20, wo_21, wo_22]

result = pa.concat(frames)
df_tot = pa.DataFrame(result)
df_tot

                             0
Production Type  Wind Onshore
Generation                  53

Production Type  Wind Onshore
Generation                  59

Production Type  Wind Onshore
Generation                  74

Production Type  Wind Onshore
Generation                  84

Production Type  Wind Onshore
Generation                  87